.modal-container {
  background-color: #f0f9fd;
  padding: 32px 24px 24px 24px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 600px;
  margin: auto;
  font-family: 'Segoe UI', 'Verdana', sans-serif;
  overflow: hidden;
  box-sizing: border-box;
}

h1[mat-dialog-title] {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  font-weight: bold;
  color: white;
  background: linear-gradient(to bottom, #19CEDB, #2BAFA6);
  margin: 0;
  padding: 12px 24px;
  line-height: 1;
}

.mat-dialog-container {
  padding: 0 !important;
  border-radius: 12px !important;
  overflow: hidden !important;
  max-height: none !important;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #000000;
}

.form-group input[type="password"] {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

.save-button {
  margin-top: 32px;
  background: linear-gradient(to bottom, #19CEDB, #2BAFA6);
  color: white;
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.save-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 188, 212, 0.6);
}
